<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squidstudios.cryptsandcryptogramsproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity android:name=".Help" />
        <activity android:name=".LoadScreen" />
        <activity android:name=".RoomNine" />
        <activity android:name=".RoomEight" />
        <activity android:name=".RoomSeven" />
        <activity android:name=".RoomSix" />
        <activity android:name=".RoomFive" />
        <activity android:name=".RoomFour" />
        <activity android:name=".RoomThree" />
        <activity android:name=".RoomTwo" />
        <activity android:name=".RoomOne" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextBox"
            android:label="@string/app_name" />
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name" />
    </application>

</manifest>